<p>
  directives works!
</p>

<p [appAttribute]="login" msg="jello" gname="how do you do"> this is custom directive</p>

<p class="appClass"> this is secod custom component by class</p>
<!--

if -- *ngIf
show - [hidden]
hide
repeat - *ngFor
switch - [ngSwitch] / *ngSwitchCase
click	(click)



view - router-outlet
model -[(ngModel)]


*   -- conditions & loops
[]  -- attributes
()  -- events
[()]-- two way data binding
#   -- local variables
	-->	

	<p *ngIf="age == 34"> this is If</p>
	<p [hidden]="age == 34"> this is hidden</p>


	<p *ngFor="let fruit of fruits"> {{fruit}} </p>

	<table border=1>
		<tr *ngFor="let fruit of fruits"> <td> {{fruit}} </td></tr>
	</table>


	<p [ngSwitch]="age">
		<span *ngSwitchCase = 34> this is 34</span>
		<span *ngSwitchCase = 44> this is 44</span>
		<span *ngSwitchCase = 54> this is 54</span>
		<span *ngSwitchCase = 64> this is 64</span>
		<span *ngSwitchDefault> this is default</span>
	</p>

	<input type="text" name="fnamee" [(ngModel)]="fnamee"> {{fnamee}}


	<p (click)="callMe()" > this is click</p>
	<p (mouseover)="callMe()" > this is mouseover</p>
	<p (mouseout)="callMe()" > this is mouseout</p>
	<p (mousemove)="callMe()" > this is mousemove</p>
	<p (dblclick)="callMe()" > this is dblclick</p>

<pre>

<input type="text" name="fnamee" [(ngModel)]="fnamee" placeholder="click" (click)="callMe()">

<input type="text" name="fnamee" [(ngModel)]="fnamee" placeholder="focus" (focus)="callMe()">

<input type="text" name="fnamee" [(ngModel)]="fnamee" placeholder="blur" (blur)="callMe()">

<input type="text" name="fnamee" [(ngModel)]="fnamee" placeholder="change" (change)="callMe()">

<input type="text" name="fnamee" [(ngModel)]="fnamee" placeholder="keypress" (keypress)="callMe()">
</pre>