<p>
  states works!
</p>

<pre>
	<form name="frm" #f=ngForm (submit)="f.valid && login()" >
		<input type="text" name="fname" [(ngModel)]="fname" #firstName=ngModel required minlength="5"> {{fname}}

		<!-- <span *ngIf="firstName.dirty && firstName.invalid" style="color: red;"> please enter a valid input</span> -->
		<!-- <span *ngIf="firstName.touched && firstName.invalid" style="color: red;"> please enter a valid input</span> -->

		<span *ngIf="firstName.dirty && firstName.hasError('required')" style="color: red;"> this is a mandatory feild</span>
		<span *ngIf="firstName.dirty && firstName.hasError('minlength')" style="color: red;"> please enter min 5 characters</span>
		<input type="text" name="lname" [(ngModel)]="lname" #lastName=ngModel > {{lname}}

		<input type="submit">
	</form>


	**feild states
	firstName.valid :: {{firstName.valid}}
	firstName.invalid :: {{firstName.invalid}}
	firstName.dirty :: {{firstName.dirty}}
	firstName.pristine :: {{firstName.pristine}}
	firstName.touched :: {{firstName.touched}}
	firstName.untouched :: {{firstName.untouched}}
	firstName.required :: {{firstName.hasError('required')}}
	firstName.minlength :: {{firstName.hasError('minlength')}}


	**form states
	f.valid :: {{f.valid}}
	f.invalid :: {{f.invalid}}
	f.dirty :: {{f.dirty}}
	f.pristine :: {{f.pristine}}
	f.touched :: {{f.touched}}
	f.untouched :: {{f.untouched}}
	f.submitted :: {{f.submitted}}

</pre>