header{
	clear: both;
	background-color: #40a853;
	height: 65px;
}
header .logo{
	float: left; 
	width: 20%;
}
header .title{
	float: left;	
	width: 80%;
}
header .title h1{
	margin-top: 10px;
	margin-bottom: 0px;
}
nav{
	clear: both;
	background-color: #fbbe3c;
	height: 43px;
}

nav ul{
	margin: 0;
	padding-top: 12px; 
}
nav ul li{
	float: left;
	list-style-type: none;
}
nav ul li a {
	padding: 10px;
	text-decoration: none;
	color: white;
}
nav ul li a:hover {
	text-decoration: underline;
	background-color: #40a853;
	border-radius: 5px;

}
footer{
	clear: both;
	background-color: #40a853;
	text-align: center;
	height: 30px;
}
.container{
	clear: both;
	padding: 20px;
	min-height: 450px;
	background-color: #cecece;
}