<p>
  directives works!
</p>
<!--
	*ngIf
	*ngFor
	[hidden] ng-hide
	[ngSwitch] / *ngSwitchCase
	[(ngModel)]
	(events)

-->
<p [appAttr]="login" [msg]="'custom message'" [age]="age"> this is custom directive</p>


<p class="appClass">custom calss directive</p>

<p *ngIf="age == 34"> this is if </p>
<p [hidden]="age == 341"> this is hidden </p>

<!-- ng-switch / ng-switch-when -->
<p [ngSwitch]=age>
	<span *ngSwitchCase="34"> this is 34</span>
	<span *ngSwitchCase="44"> this is 44</span>
	<span *ngSwitchCase="54"> this is 54</span>
	<span *ngSwitchCase="64"> this is 64</span>
	<span *ngSwitchDefault> this is default</span>
</p>

<!-- ng-repeat="fruit in fruits" -->
<p *ngFor="let fruit of fruits"> {{fruit}} </p>

<ol>
	<li  *ngFor="let fruit of fruits"> {{fruit}}</li>
</ol>

<select  >
	<option *ngFor="let fruit of fruits"> {{fruit}} </option>
</select>

<table border="1">
	<tr *ngFor="let fruit of fruits">
		<td> {{fruit}} </td>
	</tr>
</table>



<input type="text" name="fname" [(ngModel)]="fname"> {{fname}}



<p (click)="callMe()" > click</p>
<p (mouseover)="callMe()" > mouseover</p>
<p (mouseout)="callMe()" > mouseout</p>
<p (mouseenter)="callMe()" > mouseenter</p>
<p (mouseleave)="callMe()" > mouseleave</p>
<p (mousemove)="callMe()" > mousemove</p>
<p (dblclick)="callMe()" > dblclick</p>

<pre>
<input type="text" name="gname" [(ngModel)]="gname" placeholder="click" (click)="callMe()">
<input type="text" name="gname" [(ngModel)]="gname" placeholder="focus" (focus)="callMe()">
<input type="text" name="gname" [(ngModel)]="gname" placeholder="blur" (blur)="callMe()">
<input type="text" name="gname" [(ngModel)]="gname" placeholder="change" (change)="callMe()">
<input type="text" name="gname" [(ngModel)]="gname" placeholder="cut" (cut)="callMe()">
<input type="text" name="gname" [(ngModel)]="gname" placeholder="copy" (copy)="callMe()">
<input type="text" name="gname" [(ngModel)]="gname" placeholder="paste" (paste)="callMe()">
</pre>