<p>
  directives works!
</p>

<p [appAttr]="display" [msg]="23" [fname]="true"> thi is custom directive </p>


<p *ngIf="fname == 'qshore'"> this is if</p> 
<p [hidden]="fname == 'qshore'" > this is hidden</p>


<p *ngFor="let fruit of fruits"> {{fruit}} </p>

<ol >
	<li *ngFor="let fruit of fruits" > {{fruit}} </li>
</ol>

<select >
	<option *ngFor="let fruit of fruits">{{fruit}}</option>
</select>
<table border="1">
	<tr  *ngFor="let fruit of fruits">
		<td> {{fruit}} </td>
	</tr>	
</table>


<div [ngSwitch] = "fname">
	<p *ngSwitchCase = "'qshore'"> this is qshore</p>
	<p *ngSwitchCase = "'angular'"> this is angular</p>
	<p *ngSwitchCase = "'tech'"> this is tech</p>
	<p *ngSwitchDefault> this is default</p>
</div>
<input type="text" name="fname" [(ngModel)]="fname">{{fname}}